BLOOIO_API_KEY=
BLOOIO_FROM_NUMBER=
BLOOIO_WEBHOOK_SECRET=
BLOOIO_TEST_RECIPIENT=
BLOOIO_TEST_IMAGE_URL=
BLOOIO_TEST_VIDEO_URL=
BLOOIO_TEST_FILE_URL=

PHOTON_PROJECT_ID=
PHOTON_PROJECT_SECRET=
PHOTON_PHONE_NUMBER=
PHOTON_WEBHOOK_SECRET=
PHOTON_TEST_RECIPIENT=
PHOTON_TEST_IMAGE_URL=
PHOTON_TEST_VIDEO_URL=
PHOTON_TEST_FILE_URL=
